@keyframes btnclk {
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(25px);
    }
    50%{
        transform: translateX(0px);
    }
    75%{
        transform: translateX(-25px);
    }
    100%{
        transform: translateX(0);
    }
}


