.footer{
    width: 100%;
    margin-top: 1em;
    margin-bottom: 0;
    @include flex (flex, column, center);
    &__text{
        color: #000;
        font-size: 0.9em;
        margin: 0;
    }
    &__btn{
        margin-top: 0.5em;
        padding: 0.25em;
        border-radius: 0.5em;
        align-self: center;
        background-color: $linkedin;
        box-shadow: 0.5em 0.5em 1em $linkedin-shadow;
        &--linkedin{
            text-decoration: none;
            color: #fff;
            &:visited{
                @extend .footer__btn--linkedin;
            }
            &:link{
                @extend .footer__btn--linkedin;
            }
        }
    }
    &__menu{
        margin-top: 0.5em;
        display: flex;
        flex-direction: row;
        padding: 0;
    }
    &__list{
        margin: 0.25em;
        &--item{
            text-decoration: none;
            font-size: 0.8em;
        }
    }
}
@media screen and (min-width:1200px) {
    .footer{
        @include flex (flex, row, center);
        justify-content: space-between;
        margin-bottom: 1rem;
        &__text, &__btn, &__menu{
            margin: 0;
        }
    }
}