@import 'vars';
@import 'mixin';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    font-family: $fontFamily;
    font-size: $fontSize * 1.2;
    background-color: $white;
    a{
        &:link{
            color: black;
        }
        &:visited {
            @extend a:link ;
        }
    }
}
@import 'header';
.main{
    width: 85vw;
    margin: 0 auto;
    margin-top: 1em;
    @include flex (flex, column, center);
    &__title{
        font-weight: 700;
        font-size: 2em;
        text-align: center;
        margin: 0;
    }
    &__text{
        color: #000;
        margin-top: 1em;
        &--block{
            text-align: justify;
            margin-top: 0.5em
        }
        &--title{
            text-align: center;
            margin-top: 0.5em;
            font-weight: 500;
            font-size: 1.5em;
        }
    }
    &__img{
        margin-top: 1em;
        width: 80vw;
        border-radius: 1.5em;
    }
    &__list{
        padding: 0;
        margin-left: 2em;
        margin-top: 0.5em;
        &--item{
            list-style: square;
        }
    }
    &__serv{
        @include flex (flex, row, center);
        width: 75vw;
        &--img{
            width: 15vw;
        }
        div{
            @include flex (flex, column, center);
            padding: 1.5em;
            width: 100%;
        }
        &--title{
            font-size: 1.17em
        }
        &--text{
            margin: 0;
        }
    }
    &__form{
        @include flex (flex, column, flex-start);
        width: 75vw;
        margin-top: 1em;
        label {
            margin-top: 0.5em;
        }
        input {
            width: 100%;
        }
        textarea {
            @extend input;
            height: 4rem;
        }
    }
    .txt-center{
        text-align: center
    }
    iframe{
        margin-top: 1em;
    }
}
@import 'footer';