* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  background-color: #EEEEEE;
}

body a:link, body a:visited {
  color: black;
}

.header {
  margin-top: 0;
  margin-bottom: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin: 1em auto;
  width: 80vw;
}

.header__menu {
  padding: 0;
}

.header__list {
  margin: 0.5em;
  padding: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #5aa3df;
  border-radius: 1em;
}

.header__list--item {
  text-decoration: none;
}

.header__list--item:visited {
  color: #000;
}

.main {
  width: 85vw;
  margin: 0 auto;
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__title {
  font-weight: 700;
  font-size: 2em;
  text-align: center;
  margin: 0;
}

.main__text {
  color: #000;
  margin-top: 1em;
}

.main__text--block {
  text-align: justify;
  margin-top: 0.5em;
}

.main__text--title {
  text-align: center;
  margin-top: 0.5em;
}

.main__img {
  margin-top: 1em;
  width: 80vw;
  border-radius: 1.5em;
}

.main__list {
  padding: 0;
  margin-left: 2em;
  margin-top: 0.5em;
}

.main__list--item {
  list-style: square;
}

.main__serv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75vw;
}

.main__serv--img {
  width: 15vw;
}

.main__serv div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5em;
}

.main__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 75vw;
  margin-top: 1em;
}

.main__form label {
  margin-top: 0.5em;
}

.main__form input, .main__form textarea {
  width: 100%;
}

.main__form textarea {
  height: 4rem;
}

.main .txt-center {
  text-align: center;
}

.footer {
  margin-top: 1em;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__text {
  color: #000;
  font-size: 0.9em;
  margin: 0;
}

.footer__btn {
  margin-top: 0.5em;
  padding: 0.25em;
  border-radius: 0.5em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: #0e76a8;
  -webkit-box-shadow: 0.5em 0.5em 1em #094f71;
          box-shadow: 0.5em 0.5em 1em #094f71;
}

.footer__btn--linkedin, .footer__btn--linkedin:visited, .footer__btn--linkedin:link {
  text-decoration: none;
  color: #fff;
}

.footer__menu {
  margin-top: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer__list {
  margin: 0.25em;
}

.footer__list--item {
  text-decoration: none;
  font-size: 0.8em;
}
/*# sourceMappingURL=style.css.map */