@import 'vars';
@import 'mixin';
@import 'footer';
@import 'header';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    font-family: $fontFamily;
    font-size: $fontSize * 1.2;
    background-color: $white;
    a{
        &:link{
            color: black;
        }
        &:visited {
            @extend a:link ;
        }
    }
}
.main{
    width: 85vw;
    margin: 0 auto;
    margin-top: 1em;
    @include flex (flex, column, center);
    &__title{
        font-weight: 700;
        font-size: 2em;
        text-align: center;
        margin: 0;
    }
    &__text{
        color: #000;
        margin-top: 1em;
        &--block{
            text-align: justify;
            margin-top: 0.5em
        }
        &--title{
            text-align: center;
            margin-top: 0.5em;
            font-weight: 500;
            font-size: 1.5em;
        }
    }
    &__img{
        margin-top: 1em;
        width: 80vw;
        border-radius: 1.5em;
    }
    &__list{
        padding: 0;
        margin-left: 2em;
        margin-right: 2em;
        margin-top: 0.5em;
        &--item{
            list-style: square;
        }
    }
    &__medio{
        @include flex (flex, row, center);
        width: 90%;
        &--img{
            width: 15vw;
        }
        div{
            @include flex (flex, column, center);
            padding: 1.5em;
            width: 100%;
        }
        &--title{
            font-size: 1.17em
        }
        &--text{
            margin: 0;
        }
    }
    &__form{
        @include flex (flex, column, flex-start);
        width: 100%-10%;
        margin-top: 1em;
        label {
            margin-top: 0.5em;
        }
        input {
            width: 100%;
        }
        textarea {
            @extend input;
            height: 4rem;
        }
    }
    .txt-center{
        text-align: center
    }
    iframe{
        width: 60vw;
        max-width: 600px;
        height: 25vw;
        max-height: 450px;
        margin-top: 1em;
    }
    .carrusel{
        width: 80vw;
    }
}
@media screen and (min-width:576px) {
    body{
        font-size: $fontSize*1.3;
    }
    .main{
        width: 75vw;
        &__img{
            width: 70vw;
        }
        &__medio{
            &--img{
                width: 13.5vw;
            }
        }
        .carrusel{
            width: 70vw;
        }
    }
    iframe {
        width: 70vw;
        max-width: 600px;
    }
}
@media screen and (min-width:768px) {
    body{
        font-size: $fontSize*1.4;
    }
    .main{
        &__serv{
            &--list{
                display: grid;
                grid-template-columns: repeat(2, 1fr)
            }
        }
        &__medio{
            margin-top: 1em;
            &--img{
                width: 11vw;
            }
        }
    }
}
@media screen and (min-width:999px) {
    body{
        font-size: $fontSize*1.5;
    }   
    .main{
        width: 65vw;
        &__img{
            width: 60vw;
        }
        .carrusel{
            width: 60vw;
        }
    }
}
@media screen and (min-width:1200px) {
    body{
        font-size: $fontSize*1.6;
    }
    .main{
        width: 55vw;
        &__img{
            width: 50vw;
        }
        &__medio{
            &--img{
                width: 8vw;
            }
        }
        .carrusel{
            width: 50vw;
        }
    }

}
@media screen and (min-width:1400px) {
    .main{
        &__img{
            width: 40vw;
        }
        &__serv{
            &--list{
                grid-template-columns: repeat(3,1fr);
                font-size: $fontSize*1.4;
            }
        }
        &__medio{
            &--img{
                width: 5vw;
            }
        }
    }
}