@import 'vars';
@import 'mixin';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    font-family: $fontFamily;
    font-size: $fontSize * 1.2;
    background-color: $white;
    a{
        &:link{
            color: black;
        }
        &:visited {
            @extend a:link ;
        }
    }
}
@import 'header';
.main{
    width: 85vw;
    margin: 0 auto;
    margin-top: 1em;
    @include flex (flex, column, center);
    &__title{
        color: #000;
    }
    &__text{
        color: #000;
        margin-top: 1em;
        &--block{
            text-align: justify;
            margin-top: 0.5em
        }
    }
    &__img{
        margin-top: 1em;
        width: 80vw;
        border-radius: 1.5em;
    }
    &__list{
        margin-left: 2em;
        &--item{
            list-style: square;
        }
    }
    
}
@import 'footer';